<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book a Flight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookin.css') }}">
</head>
<body>
    <script type="module" src="{{ url_for('static', filename='js/voice.js') }}"></script>
    <form action="{{ url_for('submit_booking') }}" method="post" class="trip-form">

        <fieldset class="radio-group">
            <label><input type="radio" name="trip_type" value="oneWay"> One Way</label>
            <label><input type="radio" name="trip_type" value="roundTrip" checked> Round trip</label>
            <label><input type="radio" name="trip_type" value="multiCity"> Multi City</label>
        </fieldset>

        <fieldset>
            <div class="group-field">
                <label>From</label>
                <select name="from_location">
                    <option value="Warri">Osubi (Warri)</option>
                    <option value="Lagos">Murtala M. Lagos</option>
                    <option value="Kaduna">Amadu Bello (Kaduna)</option>
                    <option value="Abuja">Nnamdi Azik(Abuja)</option>
                    <option value="Port Harcourt">Port Harcourt</option>
                    <option value="onitsha">Onitsha</option>
                    <option value="katsina">Katsina</option>
                    <option value="kogi">Kogi</option>
                    <option value="ilorin">Ilorin</option>
                    <option value="yobe">Yobe</option>
                    <option value="benin">Benin</option>
                    <option value="Kano">Kano</option>
                    <option value="jos">Jos</option>
                </select>
            </div>
            <div class="group-field">
                <label>To</label>
                <select name="to_location">
                    <option value="Lagos">Lagos</option>
                    <option value="Abuja">Abuja</option>
                    <option value="Port Harcourt">Port Harcourt</option>
                    <option value="onitsha">Onitsha</option>
                    <option value="Kano">Kano</option>
                    <option value="katsina">Katsina</option>
                    <option value="kogi">Kogi</option>
                    <option value="ilorin">Ilorin</option>
                    <option value="yobe">Yobe</option>
                    <option value="benin">Benin</option>
                    <option value="jos">Jos</option>

                </select>
            </div>
        </fieldset>

        <fieldset>
            <div class="group-field">
                <label>Depart on</label>
                <input type="date" name="depart_date">
            </div>
            <div class="group-field">
                <label>Return on</label>
                <input type="date" name="return_date">
            </div>
        </fieldset>

        <fieldset>
            <div class="group-select-field">
                <label>Adults</label>
                <select name="adults">
                    {% for i in range(1, 6) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="group-select-field">
                <label>Children</label>
                <select name="children">
                    {% for i in range(0, 6) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label class="label-hint">2–11 years</label>
            </div>
            <div class="group-select-field">
                <label>Infants</label>
                <select name="infants">
                    {% for i in range(0, 6) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label class="label-hint">Below 2 yrs</label>
            </div>
        </fieldset>

        <fieldset class="more-option">
            <details>
                <summary><b>More options: </b>Class of travel, Airline Preference</summary>
                <div class="group-field">
                    <label>Class of travel</label>
                    <select name="class_of_travel">
                        <option value="Economy">Economy</option>
                        <option value="Business">Business</option>
                        <option value="First Class">First Class</option>
                    </select>
                </div>
                <div class="group-field">
                    <label>Preferred Airline</label>
                    <input type="text" name="airline_name" placeholder="Airline name">
                </div>
            </details>
        </fieldset>

        <button type="submit" class="search-btn">Submit</button>
        <a href="{{ url_for('dashboard') }}" class="return-btn">Back to Dashboard</a>

    </form>
    
</body>
</html>
