<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="world" id="world"></div>

	<nav>
		<ul class="cd-primary-nav">
		  <li><a href="{{ url_for('home') }}">HOME</a></li>
		  <li><a href="{{ url_for('booking') }}">BOOK NOW</a></li>
		  <li><a href="{{ url_for('account') }}">ACCOUNT</a></li>
		  <li><a href="{{ url_for('dashboard') }}">DASHBOARD</a></li>
		  <li><a href="{{ url_for('payment') }}">Pending Payment</a></li>
		  <li><a href="{{ url_for('contact') }}">CONTACT US</a></li>
		</ul>
	  </nav>
	  
	
	

    <div class="cd-overlay-nav"><span></span></div>
    <div class="cd-overlay-content"><span></span></div>

    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

    <form class="searchform cf">
        <input type="text" placeholder="Is it me you’re looking for?">
        <button type="submit">Search</button>
    </form>

    <div class="bttn">
        <button class="btn btn--stripe btn--radius">
            <a href="{{ url_for('booking') }}">PROCEED TO BOOKING</a>
        </button>
    </div>

    <div class="svgg">
        <!-- logo div -->
        <!-- your svg/logo code should go here -->
    </div>

    <div class="center">
        <p id="text" class="heading-font">ENJOY YOUR JOURNEY WITH JEFJET BOOKING FLIGHT</p>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bookin.js') }}"></script>
</body>
</html>
