<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HOME</title>
	
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="../reset.css">
		<link rel="stylesheet" href="../styles.css">
		


	
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" type="text/css" href="styles.css" />
		
	</head>


	<body>
		<div class="world" id="world"></div>



	
		<nav>
			<ul class="cd-primary-nav">
				<li><a href="./index.html">HOME</a></li>
				<li><a href="bookin.html">BOOK NOW</a></li>
				<li><a href="login.html">ACCOUNT</a></li>
				<li><a href="payment.html">Pending Payment</a></li>
				<li><a href="contact.html">CONTACT US</a></li>
			</ul>
		</nav>
	

		<div class="cd-overlay-nav">
			<span></span>
		</div> <!-- cd-overlay-nav -->
	
		<div class="cd-overlay-content">
			<span></span>
		</div> <!-- cd-overlay-content -->
	
		<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
	
		<form class="searchform cf">
			<input type="text" placeholder="Is it me you’re looking for?">
			<button type="submit">Search</button>
		  </form>


				<div class="bttn">
						<button class="btn btn--stripe btn--radius" >
							<a href="bookin.html">
							PROCEED TO BOOKING
							</a>
						</button>
				</div>

		   <div class="svgg">

				<!-- logo div -->
				</svg>


		   </div>


		   <div class="center">
			<p id="text" class="heading-font">ENJOY YOUR JOURNEY WITH  JEFJET BOOKING FLIGHT</p>
		</div>

		<script src="../js/jquery-2.1.1.js"></script>
		<script src="../js/velocity.min.js"></script>
		<script src="../js/main.js"></script>
		<script src="../js/bookin.js"></script>
	</body>
</html>
