<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/lpe8txe.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   

    <!-- CSS Feature Detection -->
    <script>
        document.documentElement.className = "js";
        var supportsCssVars = function() {
            var e, t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }",
            document.head.appendChild(t),
            e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")),
            t.parentNode.removeChild(t), e
        };
        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body class="demo-6">

    <div class="svgg">
        <!-- logo div -->
    </div>

    <main>
        <div class="message">Hover effect — please view on desktop.</div>

        <div class="frame">
            <div class="frame__title-wrap"></div>
        </div>

        <header>
            <a class="cd-logo" href="#0">
                <img src="{{ url_for('static', filename='img/visa_logo.png') }}" alt="Logo">
            </a>
        </header>

		<nav>
			<ul class="cd-primary-nav">
			  <li><a href="{{ url_for('home') }}">HOME</a></li>
			  <li><a href="{{ url_for('booking') }}">BOOK NOW</a></li>
			  <li><a href="{{ url_for('account') }}">ACCOUNT</a></li>
			  <li><a href="{{ url_for('dashboard') }}">DASHBOARD</a></li>
			  <li><a href="{{ url_for('payment') }}">Pending Payment</a></li>
			  <li><a href="{{ url_for('contact') }}">CONTACT US</a></li>
			</ul>
		  </nav>
		  
		

          <div class="container" id="container">
            <!-- SIGN UP FORM -->
            <div class="form-container sign-up-container">
                <form action="/signup" method="POST">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="{{ url_for('facebook.login') }}" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ url_for('google.login') }}" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="{{ url_for('linkedin.login') }}" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    
                    <span>or use your email for registration</span>
                    <input type="text" name="name" placeholder="Name" required />
                    <input type="email" name="email" placeholder="Email" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <input type="text" name="NIN" placeholder="NIN" required />
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        
            <!-- SIGN IN FORM -->
            <div class="form-container sign-in-container">
                <form action="/signin" method="POST">
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <a href="{{ url_for('google.login') }}" class="social"><i class="fab fa-google"></i></a>
                        <a href="{{ url_for('facebook.login') }}" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ url_for('linkedin.login') }}" class="social"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                    <span>or use your account</span>
                    <input type="text" name="identifier" placeholder="Email or NIN" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <a href="#">Forgot your password?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
        
            <!-- OVERLAY -->
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="content">
            {% for i in range(1, 11) %}
                <div class="content__img content__img--full" style="background-image:url('{{ url_for('static', filename='img/full' + (i if i != 10 else 1)|string + '.jpg') }}');"></div>
            {% endfor %}
        </div>
    </main>

    <div class="cd-overlay-nav"><span></span></div>
    <div class="cd-overlay-content"><span></span></div>
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>


    <!-- Flash Message-->
<!-- Flash Message Block -->
<!-- Flash Message Block -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}



  




    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo6.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-auth-compat.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/firebase-auth.js') }}"></script>
    
    

</body>
</html>
