<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>login in</title>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" href="../reset.css">
		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="../base.css">

		
		<link rel="shortcut icon" href="../favicon.ico">


		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="https://use.typekit.net/lpe8txe.css">
		<link rel="stylesheet" type="text/css" href="base.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script></head>
	<body class="demo-6">

		<div class="svgg">

			<!-- logo div -->
			</svg>


	   </div>


		<main>
			<div class="message">Hover effect &mdash; please view on desktop.</div>
			<div class="frame">
				<div class="frame__title-wrap">
				</div>
			</div>


			<header>
				<a class="cd-logo" href="#0"><img src="../img/visa_logo.png" alt="Logo"></a>
			</header>
		
			<nav>
				<ul class="cd-primary-nav">
					<li><a href="index.html">HOME</a></li>
					<li><a href="bookin.html">BOOK NOW</a></li>
					<li><a href="login.html">ACCOUNT</a></li>
					<li><a href="payment.html">Pending Payment</a></li>
					<li><a href="contact.html">CONTACT US</a></li>
				</ul>
			</nav>
			
		



			<div class="container" id="container">
				<div class="form-container sign-up-container">
					<form action="#">
						<h1>Create Account</h1>
						<div class="social-container">
							<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
							<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
						</div>
						<span>or use your email for registration</span>
						<input type="text" placeholder="Name" />
						<input type="email" placeholder="Email" />
						<input type="password" placeholder="Password" />
						<button>
						<a href="payment.html">
							Sign Up
						</a>
						</button>
					</form>
				</div>
				<div class="form-container sign-in-container">
					<form action="#">
						<h1>Sign in</h1>
						<div class="social-container">
							<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
							<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
						</div>
						<span>or use your account</span>
						<input type="email" placeholder="Email" />
						<input type="password" placeholder="Password" />
						<a href="#">Forgot your password?</a>
						<button>
							<a href="payment.html">
							Sign In
							</a>
						</button>
					</form>
				</div>
				<div class="overlay-container">
					<div class="overlay">
						<div class="overlay-panel overlay-left">
							<h1>Welcome Back!</h1>
							<p>To keep connected with us please login with your personal info</p>
							<button class="ghost" id="signIn">Sign In</button>
						</div>
						<div class="overlay-panel overlay-right">
							<h1>Hello, Friend!</h1>
							<p>Enter your personal details and start journey with us</p>
							<button class="ghost" id="signUp">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="content">
				<div class="content__img content__img--full" style="background-image:url(../img/full1.jpg);"></div>
				
				<div class="content__img content__img--full" style="background-image:url(../img/full2.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full3.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full4.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full5.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full6.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full7.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full8.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full9.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full10.jpg);"></div>
				<div class="content__img content__img--full" style="background-image:url(../img/full1.jpg);"></div>
			</div><!--/content-->
		</main>


		<div class="cd-overlay-nav">
			<span></span>
		</div> <!-- cd-overlay-nav -->
	
		<div class="cd-overlay-content">
			<span></span>
		</div> <!-- cd-overlay-content -->
	
		<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
	
		<script src="../js/imagesloaded.pkgd.min.js"></script>
<script src="../js/TweenMax.min.js"></script>
<script src="../js/demo6.js"></script>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/velocity.min.js"></script>
<script src="../js/main.js"></script>



<script src="../js/modernizr.js"></script>
</body>
</html>
